{
  "branches": [
    "+([0-9])?(.{+([0-9]),x}).x",
    "main",
    {
      "name": "develop",
      "channel": "beta",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/exec", {
      "prepareCmd": ".circleci/package_release.sh ${nextRelease.version}"
    }],    
    [
      "@semantic-release/github",
      {
        "assets": [
          "build/package/splunkbase/**",
          "build/package/deployment/**"
        ]
      }
    ]
  ]
}