##
## SPDX-FileCopyrightText: 2020 Splunk, Inc. <sales@splunk.com>
## SPDX-License-Identifier: LicenseRef-Splunk-1-2020
##
splunk-add-on-ucc-framework==4.1.10
lovely-pytest-docker
reuse
pytest
https://download.splunk.com/misc/packaging-toolkit/splunk-packaging-toolkit-1.0.1.tar.gz
pytest-xdist
pytest-splunk-addon==1.3.12
pytest-expect
pytest-splunk-addon-ui-smartx==1.1.1
pytest-rerunfailures