##
## SPDX-FileCopyrightText: 2020 Splunk, Inc. <sales@splunk.com>
## SPDX-License-Identifier: Apache-2.0
##
## Addon Requirements for Testing
splunk-add-on-ucc-framework==5.5.0
lovely-pytest-docker
reuse
pytest
https://download.splunk.com/misc/packaging-toolkit/splunk-packaging-toolkit-1.0.1.tar.gz
pytest-xdist
pytest-ordering
pytest-splunk-addon==1.7.0
pytest-expect
pytest-splunk-addon-ui-smartx==1.1.2
pytest-rerunfailures
mock
requests
u-msgpack-python
six
coverage
splunk-sdk
future
-r requirements_addon_specific.txt