##
## SPDX-FileCopyrightText: 2020 Splunk, Inc. <sales@splunk.com>
## SPDX-License-Identifier: LicenseRef-Apache-2.0
##
## Python2 Addon Requirements for Testing
lovely-pytest-docker==0.2.0
pytest==6.2.2
pytest-xdist==2.2.1
pytest-expect==1.1.0
mock==3.0.5