{% comment %} scons
scons-tool-loader
scons-tool-archives
https://download.splunk.com/misc/appinspect/splunk-appinspect-latest.tar.gz {% endcomment %}
pytest
pytest-runner
requests
httplib2
-r tests/requirements.txt
